# required for arm virt board, but missing https://qemu-project.gitlab.io/qemu/system/arm/virt.html#linux-guest-kernel-configuration
CONFIG_PCI_HOST_GENERIC=y

# squashfs
CONFIG_SQUASHFS=y

# minimal requirements for a functional system
CONFIG_TTY=y
CONFIG_PRINTK=y
CONFIG_BLK_DEV_NVME=y
CONFIG_SERIAL_8250=y
CONFIG_TTY_PRINT=y
CONFIG_EARLY_PRINTK=y
CONFIG_BINFMT_ELF=y
