# required for arm virt board, but missing https://qemu-project.gitlab.io/qemu/system/arm/virt.html#linux-guest-kernel-configuration
CONFIG_PCI_HOST_GENERIC=y

# squashfs
CONFIG_SQUASHFS=y

# minimal requirements for a functional system
CONFIG_TTY=y
CONFIG_PRINTK=y
CONFIG_BLK_DEV_NVME=y
CONFIG_SERIAL_8250=y
CONFIG_TTY_PRINT=y
CONFIG_EARLY_PRINTK=y
CONFIG_BINFMT_ELF=y
CONFIG_SERIAL_AMBA_PL011=y
CONFIG_SERIAL_AMBA_PL011_CONSOLE=y
CONFIG_BLK_DEV_RAM=y
CONFIG_BLK_DEV_RAM_COUNT=16

# initrd and devtmpfs
CONFIG_BLK_DEV_INITRD=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y

# compression
CONFIG_RD_GZIP=y

# filesystems
CONFIG_EXT4_FS=y
CONFIG_FAT_FS=y
CONFIG_MSDOS_FS=y
CONFIG_VFAT_FS=y
