# required for arm virt board, but missing https://qemu-project.gitlab.io/qemu/system/arm/virt.html#linux-guest-kernel-configuration
CONFIG_PCI_HOST_GENERIC=y

# squashfs
CONFIG_SQUASHFS=y

# minimal requirements for a functional system
CONFIG_TTY=y
CONFIG_VT=y
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_VT_HW_CONSOLE_BINDING=y
CONFIG_PRINTK=y
CONFIG_BLK_DEV_NVME=y
CONFIG_SERIAL_8250=y
CONFIG_TTY_PRINT=y
CONFIG_EARLY_PRINTK=y
CONFIG_BINFMT_ELF=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_SERIAL_AMBA_PL011=y
CONFIG_SERIAL_AMBA_PL011_CONSOLE=y
CONFIG_BLK_DEV_RAM=y
CONFIG_BLK_DEV_RAM_COUNT=16
CONFIG_BLK_DEV_LOOP=y

# initrd and devtmpfs
CONFIG_BLK_DEV_INITRD=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y

# compression
CONFIG_RD_GZIP=y

# sysfs, proc, sysctl
CONFIG_SYSFS=y
CONFIG_PROC_FS=y
CONFIG_SYSCTL=y

# additional features
CONFIG_HOTPLUG=y
CONFIG_MULTIUSER=y
CONFIG_INOTIFY_USER=y
CONFIG_NET=y
CONFIG_SIGNALFD=y
CONFIG_EPOLL=y

# filesystems
CONFIG_EXT4_FS=y
CONFIG_FAT_FS=y
CONFIG_MSDOS_FS=y
CONFIG_VFAT_FS=y
CONFIG_FAT_DEFAULT_CODEPAGE=437
CONFIG_FAT_DEFAULT_IOCHARSET="iso8859-1"
CONFIG_TMPFS=y

# NLS and Unicode
CONFIG_NLS=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_ISO8859_1=y
CONFIG_NLS_UTF8=y
CONFIG_UNICODE=y
